{% extends 'base.html' %}

{% bloc%}

{% block contentea">
        <div class="breadcrumb-areas">
		            <h1>Services</         <ul cl
					                  es</li>
					                </ul>
							        </div>
								    </div>
								    </div>
								    <!-- Sub Banner end -->ces start -->
								    <div class="services content-area">
									        <div class="er">
											        <!-- Main title -->
												        <text-center">
														                 <h1>Our <span>Services</span></h1>
																        >Lorem ipsum dolor sit do eiusmod</p>
																	        </div>
																		        <div class="row">
																				                <div class="col-lg-4 col-md-6 col-sm-6">          <div service-iv class="number">1</div>
																							                        <div class="icon">
																											                  >
																													                      </div>
																															                          <div class="detail">
																																			                              <h3>Free Support</h3>
																																						                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,tempor incididunt</p>
																																									                          </div>
																																												                  </div>
																																														              </div>
																																															                  <div class="col-lg-4 col-md-6 col-sm-6">
																																																		                      <div class="service-info">
																																																						                      <div class="number">2
																																																										                      <div class="icon">
																																																														          <i class="flaticon
																																																															                                      <div class="detail">
																																																																				                      <h3>Super Fast</h3>
																																																																						                         >Lorem ipsum dolor sitonsectetur adipilit, sed do eiusmod tempor incididunt</p>
																																																																									                     </div>         </div>
																																																																											                 </div>
																																																																													             <div class="col-lg-4 col-md        <div clrvice-info">
																																																																																                 <div class=">3</div>
																																																																																			                         <div class="icon">
																																																																																							                     <i class="flator"></i>
																																																																																										                   </div>
																																																																																												                       <div class="detail">
																																																																																																           <h3>Repairing</h3>
																																																																																																	                    p>Lorem ipsum dolor sit amet,etur adipisicing elit, smpor incididunt</p>
																																																																																																			                        </div>
																																																																																																						             v>
																																																																																																							                 </div>
																																																																																																									             <div class="col-lg-4 col-md-6 col-sm-6">
																																																																																																												                 <div class="     <div class="number">4<                   <div class="icon">
																																																																																																																	                         <i class="flaticon-air-conditioner"></i>
																																																																																																																				                     </div>
																																																																																																																						                         <div class="detail">
																																																																																																																										                         <h3>AIR conditioning</h3>
																																																																																																																													                         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
																																																																																																																																                     </div>
																																																																																																																																		                     </div>
																																																																																																																																				                 </div>
																																																																																																																																						             <div class="col-lg-4 col-md-6 col-sm-6">
																																																																																																																																								             <div class="service-info">
																																																																																																																																										                         <div class="number">5</div>
																																																																																																																																													                     <div class="icon">
																																																																																																																																																                             <i class="flaticon-fuel"></i>
																																																																																																																																																			                         </div>
																																																																																																																																																						                     <div class=">
																																																																																																																																																										                         <h3>Oil  dolor sit amet, consect elit, smpor incididunt</p>
																																																																																																																																																													                     </div   </div>
																																																																																																																																																															         
																																																																																																																																																																             <div class="col-lg-4 col-md-6 col
																																																																																																																																																																		                  <div class="service-
																																																																																																																																																																					                          <div class="number">7</div>
																																																																																																																																																																									                          <divicon">
																																																																																																																																																																												                          <i class="flaticon-wheel"></i>
																																																																																																																																																																															                      </div>
																																																																																																																																																																																	                          <div class="detail">
																																																																																																																																																																																					                          <h3>Engine Repair<                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temdidunt</p>
																																																																																																																																																																																									                      </div>
																																																																																																																																																																																											                    >
																																																																																																																																																																																													                </div>
																																																																																																																																																																																															            <div class="col-lg-4 col-md-6 col-sm-6">
																																																																																																																																																																																																	                    <div class="service-info">
																																																																																																																																																																																																				                        <div class="number">6</div>
																																																																																																																																																																																																							                    <div class="icon">
																																																																																																																																																																																																										                            <i class="flaticon-car-2"></i>
																																																																																																																																																																																																													                        </div>
																																																																																																																																																																																																																                    <div class="detail">
																																																																																																																																																																																																																			                            <h3>Dealership</h3>
																																																																																																																																																																																																																						                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
																																																																																																																																																																																																																									                        </div>
																																																																																																																																																																																																																												                </div>
																																																																																																																																																																																																																														            </div>
																																																																																																																																																																																																																															                <div class="col-lg-4 col-md-6 col-sm-6">
																																																																																																																																																																																																																																		            v class=e-info">
																																																																																																																																																																																																																																			                        <div claber">8</div>
																																																																																																																																																																																																																																							                        <div class="icon">
																																																																																																																																																																																																																																											                            <i class="flaticon-lock">                    </div>
																																																																																																																																																																																																																																															                          <div class="detail">
																																																																																																																																																																																																																																																			                              <h3>Security</h3>                 <p>Lorem ips sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
																																																																																																																																																																																																																																																						                          </div>
																																																																																																																																																																																																																																																									                  </div>
																																																																																																																																																																																																																																																											              </div>
																																																																																																																																																																																																																																																												                  <div class="col-lg-4 col-md-6 col-sm-6">
																																																																																																																																																																																																																																																															                      <div class="service-info">
																																																																																																																																																																																																																																																																			                      <div class="number">9</div>
																																																																																																																																																																																																																																																																							                      <div class="icon">
																																																																																																																																																																																																																																																																											                          <i class="flaticon-deal"></i>
																																																																																																																																																																																																																																																																															                        </div>
																																																																																																																																																																																																																																																																																		                    <div class="detail">
																																																																																																																																																																																																																																																																																						                        <h3>Trusted Agents</h3>
																																																																																																																																																																																																																																																																																									                        <p>Lorem ipsum dolor sit amet, consecipisicing elit, sed do eiusmod tempor incididunt</p>
																																																																																																																																																																																																																																																																																												                    </div>
																																																																																																																																																																																																																																																																																														                    </div>
																																																																																																																																																																																																																																																																																																                </div>
																																																																																																																																																																																																																																																																																																		        </div>
																																																																																																																																																																																																																																																																																																			    </div>
																																																				      </div>
																																																				      <!-- Services end -->



																																																				      <!-- Service center strat -->
																																																				      <div class="service-center content-area-5">
																																																						      <div class="container">
																																																								          <div class="row">
																																																										                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
																																																													                      <div class="inside-car service-car">
																																																																	                      <iframe src="https://www.youtube.com/embed/5e0LxrLSzok" allowfullscreen=""></iframe>
																																																																					                   </div>
																																																																							               </div>
																																																																								                   <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
																																																																											                       <div class="about-text">
																																																																															                       <h3>Our Services <span>Video</span></h3>
																																																																																	                           <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could</p>
																																																																																				                       <p class="mb-0">morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horriin. He lay on his armour-like back, and if he lifted his head a little he could see himself transformed in his bed</p>
																																																																																								                 </div>
																																																																																										             </div>
																																																																																											             </div>
																																																																																												         </div>
																																																				      </div>
																																																				      <!-- Service center end -->


{% endblock %}
