{% if messages %}

 }
       <div id="messntainer">
	           alert-{{ message.tags }}" alert-dismissable role="button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>

	               <strong>
			                     {essage.level == DEFAULT_MESSAGE_LEVEROR %}
					                       Error:
							                     {%}
									                       {{mesaage.tags|}
											                    dif %}
													                </strong>
															            {{}}
																            </div>
																	          </div>
																		    {or %}

																		    {% endif %}
