{% load static %}
<!-- Main header start -->
<header class="mar sticky-header header-with-top">
	    <div class="container">
		        "navbar navbar-expand-lg navbar-light">
			            <a class="navbar-brand company-logo" href="{% url 'home' %}">
					                    <img src="{% static 'img/logos/black-logo.png' %}" alt="logo">
							                </a>
									            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
											                    <span class="fa fa-bars"></span>
													                </button>
															          class="navbar-collapse collapse w-100" id="navbar">
																                lass="navbar-nav ml-auto">
																		                    <li class="nav-item">
																					                            <a
																									                            {% if '/' == request.p
																									                            class="nav-lin           {% else %}
																													                           class="nav-link"
																																	                          {% endif %}
																																				                          href="{% url 'home' %}">
																																								                            Home
																																											                            </a>
																																														        </li>
																																															                    <="nav-item">
																																																	               <a
																																																		                               {% if 'car                        class="
																																																										                       
																																																										                nav-link"
																																																													                         {%            hrefs' %}">
																																																			                                   Cars
																																																							                           </a>
																																																										                       </li>
																																																												                           <li class="nav-item">
																																																																    a
																																																																                            {% if 'about' in request.path %}
																																																																			                            class="nav-link active"  {% else %}
																																																																						                            class="nav-link"
																																																																									                            {% endif %}
																																																																												                    href="{% url 'about' %}">
																																																																														                        About
																																																																																	                        </a>
																																																																																				                    </li>
																																																																																						                        <li class="nav-item">
																																																																																										                        <a{% if 'services' i}
																																																																																									                            class="nav-link active"
																																																																																												                            {% else %}
																																																																																												                            cla-link"
																																																																																																                             {% endif %}
																																																																																																			                             href="{% url 'services' %}">
																																																																																																							                               Services
																																																																																																										                               </a>
																																																																																																													                           </li>
																																																																																																																                       
																																																																																																																		                           
																																																																																																																					                       <li class="nav-item dropdown">
																																																																																																																									                          <a
																																																																																																																												                          {% if 'contact' in request.path %}
																																																																																																																															                         nav-link active"
																																																																																																																													                          {% else %}
																																																																																																																													                          class="nav-link"
																																																																																																																																                          {% endif %}
																																																																																																																																                          href="{% url 'contact' %}">Contact</a>
																																																																																																																												                      </li>
																																																																																																																														                          <li class="nav-item dropdown m-hide">
																																																																																																																																		                          <a hrefclass="nav-link h-icon">
																																																																																																																																						                              <i class="fa fa-search"></i>
																																																																																																																																									                              </a>
																																																																																																																																												                          </li>
																																																																																																																																															                  </ul>
																																																																																																																																																	              </div>
																																																																																																																																																		              </nav>
																																																																																																																																																			          </div>
</header>
<!n header end -->
